<!-- <h1>helle enter polition {{ data.title }}</h1>
<div class="text-center py-10">
  <h1 class="text-xl font-bold text-blue-500">Welcome to Tailwind with Angular!</h1>
  <input [value]="data.title" #inputkey (keyup)="onkey(inputkey.value)">
</div> -->


<!-- static title
<app-coures [title]="'card'"/>
<app-coures [title]="'list'"/> -->
  


<!-- dynamic  -->
<!-- <app-coures (viewCourseevent)="course($event)" [course]="beginnerCourse"/>
<app-coures [course]="advancedcourse"/> -->



<!-- <div class="container-fluid"> -->
<!-- directive @for -->
<!-- Dynamic Course Cards -->
  <!-- <div *ngFor="let course of courses; trackBy: trackByCourseId" class="col-md-4 col-12">
    <app-coures (viewCourseevent)="course($event)" [course]="course"></app-coures>
  </div>
</div> -->

<app-header/>
<router-outlet/>

